.character-list {
  display: flex;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
}

.favorites-list {
  display: flex;
  width: 100%;
  height: 500px;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  background-color: rgb(255, 217, 0);
}

